.file-item {
  width: 325px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.file-item:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.file-item > a {
  text-decoration: none;
  color: black;
}
