.song {
  display: flex;
}

.react-pdf__Document {
  width: 610px;
  height: 840px;
}

.react-pdf__Page__canvas {
  padding: 1px;
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 590px;
  height: 830px;
}

.loading {
  width: 595px;
  height: 830px;
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.songInfo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}

.songInfo > p {
  margin: 6px;
}

.songInfo > img {
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 19px;
  text-decoration: none;
  text-align: center;
  outline: none;
  background-color: white;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
