.song-item {
  list-style-type: none;
}

.song-box {
  margin: 8px;
  padding: 10px;
  min-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
}

.song-box:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.song-box > a {
  text-decoration: none;
  color: black;
}
