* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

img {
  width: 50px;
  border: solid rgb(0, 31, 207) 2px;
  border-radius: 50px;
}
